@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-bg{
    background-image: url('../ChatGPT\ Image\ Oct\ 1\,\ 2025\,\ 07_50_19\ PM.png');
    background-size: contain;
    background-position: center;
}

@layer utilities{
    .card{
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border-radius: 1.5rem;
        width: 25rem;
        height: 40rem;
        overflow: hidden;
    }
    .hero-container{
        box-shadow: 0 6px 3px rgba(0, 0, 0, 1);
    }
    .featured-style{
        background-color: rgb(254 237 213);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border-radius: 20%;
        width: 6rem;
    }
}

.review-1{
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('/profile-1.png');
    background-size: cover;
    background-position: top;
}
.review-2{
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('/profile-2.png');
    background-size: cover;
    background-position: top;
}
.review-3{
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('/profile-3.png');
    background-size: cover;
    background-position: top;
}

.profile{
    display: flex;
    width: 100%;
    height: 7rem;
    padding: 0.8rem;
}

mark{
    background-color: rgb(254 215 170);
    padding: 0.1rem;
    border-radius: 15%;
}