@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Custom Utility Classes === */
@layer utilities {
  .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    width: 25rem;
    height: 40rem;
    overflow: hidden;
  }

  .hero-container {
    box-shadow: 0 6px 3px rgba(0, 0, 0, 1);
  }

  .featured-style {
    background-color: rgb(254 237 213);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 20%;
    width: 6rem;
  }
}

/* === Review Avatars === */
.review-1, .review-2, .review-3 {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: top;
}
.review-1 { background-image: url('/profile-1.png'); }
.review-2 { background-image: url('/profile-2.png'); }
.review-3 { background-image: url('/profile-3.png'); }

.profile {
  display: flex;
  width: 100%;
  height: 7rem;
  padding: 0.8rem;
}

mark {
  background-color: rgb(254 215 170);
  padding: 0.1rem;
  border-radius: 15%;
}

/* === Light Theme Variables === */
:root {
  --background: 36 100% 85%;            /* slate-50  210 20% 98%*/
  --foreground: 222 47% 11%;            /* slate-900 */
  --color-main: orange;
  --card: 0 0% 100%;                 /*  197 31% 43% */
  --card-foreground: 210 40% 98%;       /* very light desaturated blue*/

  --primary: 243 75% 59%;               /* indigo-600 */
  --primary-foreground: 0 0% 100%;      /* white */

  --secondary: 160 84% 39%;             /* emerald-500 */
  --secondary-foreground: 0 0% 50%;

  --muted: 210 20% 94%;
  --muted-foreground: 215 16% 47%;

  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 243 75% 59%;
}

/* === Dark Theme Variables === */
.dark {
  --background: 32 60% 15%;            /* slate-950 */
  --foreground: 210 40% 98%;            /* slate-50 */
  --color-main: orange;
  --card: 0 0% 0%;                  /*222 47% 15%*/
  --card-foreground: 222 47% 91%;       /* very dark desaturated blue*/

  --primary: 234 85% 75%;               /* indigo-400 */
  --primary-foreground: 0 0% 100%;

  --secondary: 158 64% 52%;             /* emerald-400 */
  --secondary-foreground: 0 0% 50%;

  --muted: 222 47% 18%;
  --muted-foreground: 215 20% 70%;

  --border: 27.11 60% 46.86%;
  --input: 222 47% 20%;
  --ring: 234 85% 75%;
}

/* === Base Theme Application === */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
